body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  margin: 0;
  padding: 20px;
}
h1 {
  font-size: 2em;
  color: #39b2ac;
  margin-bottom: 10px;
  text-align: center;
}

#chat-container {
  width: 90%;
  max-width: 600px;
  height: 500px;
  border: 1px solid #ccc;
  overflow: auto;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* .input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin-top: 10px;
} */

.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin-top: 10px;
}

textarea {
  flex: 1;
  width: calc(100%);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; /* This will prevent manual resizing by the user */
  overflow: auto;
  min-height: 40px; /* Initial height */
  margin-bottom: 10px; /* Adds some space between the textarea and the button */
}

input[type='text'] {
  flex: 1;
  margin-right: 10px;
  width: calc(100% - 150px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100px; /* or any preferred width */
  padding: 10px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

.message {
  padding: 5px;
  border-radius: 5px;
  margin: 5px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffffb4;
}

.you,
.raanapbot {
  font-weight: bold;
  margin-right: 5px;
  color: #E92C35;
}

.message-content {
  color: #000000;
  white-space: pre-line; /* Preserves newlines and spaces */
}

#img-container {
  width: 90%;
  max-width: 600px;
  height: 600px;
  border: 1px solid #ccc;
  /* overflow: auto; */
  /* padding: 10px; */
  margin-bottom: 10px;
  /* background-color: #fff; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn {
  position: absolute;
  background-color: #39b2ac;
  color: white;
  font-size: 16px;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

#btn-container {
  position:relative;
  /* display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 600px;
  margin-top: 10px; */
}

.btn:hover{
  background-color: #F9E5C6;
}

.btn-container textarea{
  position:absolute;
  width: 350px;
  height: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; /* This will prevent manual resizing by the user */
  overflow: auto;
  min-height: 10px; /* Initial height */
  margin-bottom: 10px; /* Adds some space between the textarea and the button */
}

#msg-container {
  /* background-color: white; */
  position:absolute;
  width: 550px;
  height: 125px;
  top: 100px;
  left: 45px;
  overflow: auto;
  /* padding: 10px; */
  margin-bottom: 10px;
}

#cluster-container{
  /* background-color: white; */
  position:absolute;
  top: 90px;
  left: 625px;
  width: 600px;
  height: 600px;
}

#thoughts-container{
  /* background-color: white; */
  position:absolute;
  width: 220px;
  height: 25px;
  top: 232.5px;
  left: 350px;
  overflow: auto;
  margin-bottom: 10px;
}


.thoughts{
  position:relative;
  padding: 5px;
  /* border-radius: 5px; */
  margin: 5px 0;
  /* border: 1px solid #e6e6e6;
  background-color: #ffffffb4; */
  font-style: italic;
  font-size: 10px;
}

/* .thoughts::before{
  position:absolute;
 top: -15px;
 left: 0px;
 width: 100%;
 content:" ";
  transform: rotate(180deg); 
  background: 
  radial-gradient(circle at 50% 0%, white 25%, #000 26%, transparent 0%);
    background-color: transparent;  
    background-size:20px 40px;  
    height:15px;
    background-repeat: repeat-x;
    background-position: -25px 0px;
} */

/* .thoughts::after{
  position:absolute;
 bottom: -10px;
 left: 0px;
 width: 100%;
 content:" ";
  background: 
  radial-gradient(circle at 50% 0%, white 25%, #000 26%, transparent 0%);
    background-color: transparent;  
    background-size:20px 40px;  
    height:12px;
    background-repeat: repeat-x;
    background-position: -25px 0px;
} */

.dot {
  position:absolute;
  height: 10px;
  width: 10px;
  border: 1px solid #e6e6e6;
  background-color: #ffffffb4;
  border-radius: 50%;
  /* display: absolute; */
  display:none;
}

#ignore-div{
  position:absolute;
  width: 370px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none; /* This will prevent manual resizing by the user */
  overflow: none;
  min-height: 10px; /* Initial height */
  /* margin-bottom: 10px; */
  top:621px; 
  left: 175px; 

  /* display:none; */
}

#ignore-text{
  font-size: 11px;
  color: #989898;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}